RewriteEngine On

# Permite que archivos y directorios existentes se carguen directamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todas las solicitudes a index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]